<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.goldenatoz">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GoldenAToZ"
        tools:targetApi="31">
        <activity
            android:name=".languages.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".languages.YourRoleActivity"
            android:exported="false" />
        <activity
            android:name=".languages.Languages"
            android:exported="false" />
        <activity
            android:name=".attendance.ShiftEntryActivity"
            android:exported="false" />

        <service
            android:name=".attendance.BroadcastService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".holiday.HolidayCalenderActivity"
            android:exported="false" />
        <activity
            android:name=".attendance.CheckinActivity"
            android:exported="false" />
        <activity
            android:name=".termsAndConditions.TermsAndConditionsActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".location.ShowLocation"
            android:exported="false" />
        <activity
            android:name=".OTPActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>